<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contato Health Support.</h1>
    </hr>
    <p><strong>Nome: </strong><%= @name %>
    <p><strong>Especialidade: </strong><%= @specialty %>
    <p><strong>Email: </strong><%= @email %>
    </br>
    </br>
    <p><strong>Mensagem:</strong>
    <p><blockquote><%= simple_format @message %></blockquote></p>
    </br>
    </br>
  </body>
</html>
