%header
  = render 'shared/desktop_menu'

= render 'shared/mobile_menu'

.page
  .content
    %h1.title CONSULTORIA JURÍDICA
    %p
      Auxiliamos o profissional a resguardar seu negócio de
      %strong cada nova modificação
      nas
      %strong legislações Tributária e Trabalhista
      \- que no Brasil acontece com frequência.

    %p
      Garantimos as
      %strong melhores condições
      para trabalhar
      %strong dentro das normas inerentes
      à área da saúde:

    %p.subtitle Trabalhista Preventiva
    %ul
      %li Análise da estrutura da empresa e estratégias para a prevenção de litígios;
      %li Consultas;
      %li Análise e elaboração de contratos;

    %p.subtitle Trabalhista Contenciosa
    %ul
      %li Acompanhamento/ Defesa dos interesses da Empresa e do Reclamante em Juízo ( Reclamações Trabalhistas)

    %p.subtitle Família e Sucessões
    %ul
      %li Divórcio Consensual (Judicial e Extrajudicial);
      %li Arrolamento / Inventário e Partilha Consensual (Judicial e Extrajudicial)
      %li Elaboração de Testamento
      %li Planejamento Sucessório (Constituição de Empresa Patrimonial);

    %p.subtitle Cível
    %ul
      %li Orientações e acompanhamento de processos judiciais que envolvam responsabilidade civil, tanto nos  casos de indenização por danos à imagem, estético, morais e materiais, como na obtenção de indenização decorrente do descumprimento de contratos;
      %li Assessoria, orientações e acompanhamento de processos na recuperação de créditos (cobranças, execuções de títulos extrajudiciais);

    %p.subtitle Contratos
    %ul
      %li Elaboração e análise de contratos civis;
      %li Elaboração e análise de contratos empresariais;

    %p.subtitle Consultivo Civil Estratégico
    %ul
      %li Emissão de Certidões Negativas nos âmbitos Municipal, Estadual e Federal, tanto na esfera civil quanto na Criminal;
      %li Atuação consultiva em processos judiciais já existentes/ em andamento;
      %li Análise de documentação Imobiliária (Elaboração e Análise de Contratos de Compra e Venda);

    %p.subtitle Área Tributária
    %ul
      %li Defesa / Acompanhamento de Execuções Fiscais Judiciais no âmbito Municipal, Estadual e Federal;

= render 'shared/footer'