%header
  .wrapper
    = render 'shared/desktop_menu', current: 'tributary'

= render 'shared/mobile_menu'

.page
  .content
    %h1.title SEGURO DE VIDA
    %p Garantia de segurança para os profissionais da Área da Saúde, bem como suas famílias em caso de quaisquer situações adversas.
    %ul
      %li Planejamento Financeiro;
      %li Sucessão Patrimonial.

= render 'shared/footer'