%header
  = render 'shared/desktop_menu'

= render 'shared/mobile_menu'

.page
  .content
    %h1.title REGULAMENTAÇÃO DA ESTRUTURA FÍSICA
    %p
      Garantir que o
      %strong espaço físico
      da clínica esteja
      %strong de acordo com todas as normas regulatórias.

    %p.subtitle Principais serviços:
    %ul
      %li Implementação de estrutura para coletas de amostras biológica;
      %li Adequação às normas dos conselhos da área da saúde (CRM, CRO, CRN, outros);
      %li Liberação e atualização de alvarás;
      %li Aprovação de plantas para clinicas médicas.

= render 'shared/footer'