%header
  = render 'shared/desktop_menu', current: 'tributary'

= render 'shared/mobile_menu'

.page
  .content
    %h1.title IMPLEMENTAÇÃO DE POSTO DE COLETA DE EXAMES DE ANÁLISES CLÍNICAS
    %p Aos profissionais da área da saúde que tenham local disponível e interesse em implementar um posto de coleta  de exames laboratoriais em suas clínicas oferecendo uma facilidade aos pacientes e agregando serviço de qualidade à sua empresa, a Health Support tem uma parceria com o Laboratório Health Center Lab.
    %p Um Laboratório inovador que traz uma experiência diferenciada, focada em oferecer personalização nos atendimentos, nas coletas e nas entregas de resultados, com agilidade e transparência.

= render 'shared/footer'