%header
  = render 'shared/desktop_menu', current: 'system'

= render 'shared/mobile_menu'

.page
  .content
    %h1.title TREINAMENTO DE SECRETÁRIAS
    %p Aplicação de treinamento para secretárias para garantir um padrão de TREINAMENTO DE EQUIPE atendimento comprometido com a excelência.

    %ul.list
      %li Conhecimento da cultura da empresa por parte dos colaboradores;
      %li Capacitação da equipe para atendimento direto ao público (apresentação pessoal, comportamentos esperados);
      %li Comunicação e relacionamento interpessoal,
      %li Administração do tempo
      %li Motivação profissional.

= render 'shared/footer'