%header
  = render 'shared/desktop_menu', current: 'system'

= render 'shared/mobile_menu'

.page
  .content
    %h1.title CONSULTORIA TECNOLÓGICA
    %p
      Implementação de um
      %strong sistema de gestão integrada,
      desenvolvido para a HEALTH SUPPORT direcionado para a área da saúde.

    %p.subtitle Principais serviços:
    %ul.list
      %li O mais completo cadastro de seus Pacientes;
      %li Total Controle de Agenda e Atendimentos;
      %li Gerencie todos os prontuário em uma única tela !
      %li Armazenamento de imagens de exames aos atendimentos;
      %li Confirmação de seus agendamentos por e-mail, reduzindo custos com ligações;
      %li Controle financeiro, com foco no Contas a Receber;
      %li Gestão de convênios e seus recebíveis;
      %li Integração com sistema financeiro/contábil NIBO;
      %li Relatórios diversos, desde atendimentos até movimentações financeiras, para uma melhor gestão de sua clínica;
      %li Modulo específico para Relacionamento (envio de SMS, e-mails);
      %li Sistema instalado em sua clínica, com total segurança dos seus dados.

= render 'shared/footer'
