/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fonts
 *= require normalize
 */

@import 'colors';
@import 'services-gallery';

body {
  font-family: Lato-Regular;
  background-color: white;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

// HEADER
header {
  box-shadow: 0 2px 4px 0 #e4e4e4;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.menu {
  width: 68%;
  text-align: right;
  display: inline-block;

  a {
    cursor: pointer;
    line-height: 90px;
    margin: 0px 10px;
    font-size: 14px;
    color: $default-text-color;
    text-decoration: none;

    &:hover:not(.home), &.active {
      color: $highlighted-text-color;
      border-bottom: solid 3px #08c6f9;
      padding-bottom: 8px;
    }
  }

  .home {
    margin-right: 40px;

    img {
      vertical-align: middle;
    }
  }
}

.contact {
  display: inline-block;
  margin-left: 50px;
  color: $highlighted-text-color;
  font-size: 13px;

  img {
    vertical-align: middle;
    margin-right: 10px
  }
}


// CONTENT
.title {
  font-size: 24px;
  color: $highlighted-text-color;
  margin-bottom: 25px;
}

.subtitle {
  font-size: 18px;
  margin-top: 25px;
  color: $highlighted-text-color;
}

.page {
  font-size: 14px;
  line-height: 20px;
  min-height: 420px;
}

.page > .content {
  max-width: 65%;
  color: $default-text-color;
  margin: 150px auto 50px;

  .service {
    clear: both;
  }

  .service p {
    margin-bottom: 2px;
  }

  .open-details {
    float: left;
    text-decoration: none;
    color: $highlighted-text-color;

    span {
      padding: 0 4px;
      border-radius: 10px;
      border: 1px solid $highlighted-text-color;
    }

    .more {
      display: inline;
    }
  }

  .details {
    .content {
      font-size: 13px;
      display: none;
      width: 450px;
      float: left;
      margin-top: 0;
      margin-left: 10px;
    }
  }
}


// FOOTER
body > footer {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 4px 0 #e4e4e4;
  font-size: 12px;
  color: $default-text-color;
  text-align: center;
  padding: 40px 0;

  p {
    margin: 0;
  }

  .content {
    text-align: left;
    display: inline-block;
    margin-left: 40px;
  }

  .address {
    display: inline-block;

    .mark {
      background-color: $button-background-color;
      width: 10px;
      height: 10px;
      margin-bottom: 5px;
      display: inline-block;
    }
  }

  .copyright {
    margin-left: 100px;
    vertical-align: top;
  }
}
