@import 'colors';

.page {
  text-align: center;

  header {
    .subtitle {
      max-width: 90%;
      margin: 50px auto 0;
    }

    .description {
      max-width: 80%;
      margin: 30px auto;
    }
  }
}

.highlighted {
  color: $highlighted-text-color;
}

.mission, .vision, .values {
  width: 270px;
  float: left;
  margin-top: 70px;
  padding: 0 20px;

  .title {
    font-size: 20px;
  }
}

.values {
  padding-right: 0;
}