@import 'colors';

header {
  text-align: center;

  .home {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;

    img {
      vertical-align: middle;
    }
  }
}

.menu {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 0 10%;
  min-width: 250px;

  .close {
    position: absolute;
    right: -20px;
    top: 25px;
    color: white;
    cursor: pointer;
    font-size: 30px;
  }

  .toggle {
    font-size: 1.1em;
    line-height: 90px;
  }

  .links-list {
    overflow: auto;
  }

  ul {
    display: none;
    list-style: none;
    padding: 0;

    li {
      padding: 12px 0;
      max-width: 250px;
    }
  }

  a {
    cursor: pointer;
    line-height: 30px;
    margin: 0px 10px;
    font-size: 16px;
    color: $default-text-color;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &:hover:not(.home), &.active {
      color: $highlighted-text-color;
      border-bottom: solid 3px #08c6f9;
      padding-bottom: 5px;
    }
  }
}

.contact {
  display: inline-block;
  color: $highlighted-text-color;
  font-size: 13px;
  vertical-align: top;
  margin-top: 37px;

  img {
    vertical-align: middle;
    margin-right: 10px
  }
}
