@import 'colors';

header {
  text-align: center;

  .home {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;

    img {
      vertical-align: middle;
    }
  }
}

.menu {
  position: relative;
  text-align: right;
  display: inline-block;
  margin: 0 10px 0 10%;
  min-width: 500px;

  .close {
    position: absolute;
    right: -20px;
    top: 25px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    display: none;
  }

  .toggle {
    // font-size: 1.1em;
    color: $highlighted-text-color;
    line-height: 90px;

    .arrow-up {
      display: none;
    }

    .arrow-down {
      font-size: 0.6em;
      margin-left: 10px;
    }

    &:hover:not(.home), &.active {
      border: none;
    }

    &.active .arrow-down {
      font-size: 0.6em;
      margin-left: 10px;
      display: none;
    }

    &.active .arrow-up {
      font-size: 0.6em;
      margin-left: 10px;
      display: inline;
    }
  }

  .links-list {
    overflow: auto;
    margin: 0;
    display: none;
    list-style: none;
    padding: 0;

    .link-logo  {
      height: 30px;
      vertical-align: middle;
      filter: brightness(0) invert(1);
      -webkit-filter: brightness(0) invert(1);
    }

    li {
      padding: 12px 0;
      max-width: 500px;
    }
  }

  a {
    cursor: pointer;
    line-height: 30px;
    margin: 0px 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &:hover:not(.home), &.active {
      color: $highlighted-text-color;
      border-bottom: solid 3px #08c6f9;
      padding-bottom: 5px;
    }
  }
}

.contact-link {
  display: inline-block;
  color: $highlighted-text-color;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
  vertical-align: top;
  margin-top: 35px;

  img {
    vertical-align: middle;
    margin-right: 10px
  }
}
