@import 'colors';
@import 'mobile-menu';
@import 'mobile-services-gallery';

.title {
  font-size: 24px;
  color: $highlighted-text-color;
}

.subtitle {
  color: $highlighted-text-color;
}

.page {
  font-size: 40px;
  line-height: 52px;
}

// Home
.menu, .contact, .page footer, .next-page {
  display: none;
}

.page {
  position: static;

  .content {
    max-width: 100%;
    position: static;
    margin: auto;
    text-align: center;

    .logo {
      margin: 10px 0 20px;
    }

    .description {
      border: none;
      width: 80%;

      .divider {
        width: 80%;
        margin: auto;
        height: 3px;
      }
    }
  }
}

.page-1 .description {
  font-size: inherit;
  line-height: inherit;
}

// MAPS
.page-3 {
  position: relative;
  height: 800px;
}

.maps {
  .title {
    font-size: inherit;
    line-height: inherit;
  }

  .description {
    width: 70%;
    font-size: 0.9em;
    line-height: inherit;
    top: 5%;
  }
}

// Contact form
.contact-wrapper {
  min-width: 380px;
  max-width: 380px;
  padding: 10px;
  min-width: 80%;
  max-width: 80%;

  .title {
    width: 70%;
    font-size: inherit;
    line-height: inherit;
  }

  label {
    width: auto;
    font-size: 1.1em;
    line-height: inherit;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  input {
    height: 120px;
  }

  textarea {
    height: 240px;
  }

  .inline-field, .field {
    width: 100%;
    margin: 10px 0;
    display: block;
  }
}

// Footer
body > footer {
  line-height: inherit;
  font-size: 30px;
  text-align: center;

  .address {
    border-top: 1px solid $border-color;
    padding-top: 20px;

    .mark {
      display: none;
    }
  }

  .content, .address {
    display: block;
    font-size: 20px;
    margin-top: 20px;
  }

  .copyright {
    font-size: 15px;
    border-top: 1px solid $border-color;
    margin: 25px 0;
    padding: 35px;
  }
}

.footer-navigation {
  display: block;
  text-align: center;

  a {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #d8d8d8;
    border-radius: 10px;
    margin: 0 5px;

    &.active {
      background-color: #a2a2a2;
    }
  }
}
