@import 'colors';

.services-list {
  list-style: none;
  text-align: center;
  font-size: 14px;
  padding: 0;

  .service {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: $default-text-color;
    max-width: 100px;
    vertical-align: top;

    .logo {
      width: 65px;
      height: 60px;
      margin: 0 auto 15px;
    }

    &[data-service="1"] {
      .logo {
        background: asset-url('tributary_logo_gray.png') no-repeat center;
        background-size: contain;

        &:hover {
          background: asset-url('tributary_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }

      &.active {
        .logo {
          background: asset-url('tributary_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    &[data-service="2"] {
      .logo {
        background: asset-url('marketing_logo_gray.png') no-repeat center;
        background-size: contain;

        &:hover {
          background: asset-url('marketing_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }

      &.active {
        .logo {
          background: asset-url('marketing_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    &[data-service="3"] {
      .logo {
        background: asset-url('legal_logo_gray.png') no-repeat center;
        background-size: contain;

        &:hover {
          background: asset-url('legal_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }

      &.active {
        .logo {
          background: asset-url('legal_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }
    }


    &[data-service="4"] {
      .logo {
        background: asset-url('physical_environment_logo_gray.png') no-repeat center;
        background-size: contain;

        &:hover {
          background: asset-url('physical_environment_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }

      &.active {
        .logo {
          background: asset-url('physical_environment_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    &[data-service="5"] {
      .logo {
        background: asset-url('system_logo_gray.png') no-repeat center;
        background-size: contain;

        &:hover {
          background: asset-url('system_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }

      &.active {
        .logo {
          background: asset-url('system_logo_blue.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    &[data-service="6"] {
      .logo {
        background: asset-url('secretaries_trainning_logo_gray.png') no-repeat center;
        background-size: contain;

        &:hover {
          background: asset-url('secretaries_trainning_logo.png') no-repeat center;
          background-size: contain;
        }
      }

      &.active {
        .logo {
          background: asset-url('secretaries_trainning_logo.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    &[data-service="7"] {
      .logo {
        background: asset-url('life_insurance_logo_gray.png') no-repeat center;
        background-size: contain;

        &:hover {
          background: asset-url('life_insurance_logo.png') no-repeat center;
          background-size: contain;
        }
      }

      &.active {
        .logo {
          background: asset-url('life_insurance_logo.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    &[data-service="8"] {
      .logo {
        background: asset-url('sample_collection_structure_logo_gray.png') no-repeat center;
        background-size: contain;

        &:hover {
          background: asset-url('sample_collection_structure_logo.png') no-repeat center;
          background-size: contain;
        }
      }

      &.active {
        .logo {
          background: asset-url('sample_collection_structure_logo.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    &:hover, &.active {
      color: $highlighted-text-color;
    }
  }
}

.services-gallery {
  position: relative;
  width: 600px;
  margin: 50px auto;

  .view-port {
    width: 600px;
    overflow: hidden;
  }

  .next, .prev {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    display: block;
    width: 53px;
    height: 90px;
  }

  .next {
    right: -140px;
    background: asset-url('gallery_arrow_right_gray.png') no-repeat;
    background-size: 80%;

    &:hover {
      background: asset-url('gallery_arrow_right_blue.png') no-repeat;
      background-size: 80%;
    }
  }

  .prev {
    left: -140px;
    background: asset-url('gallery_arrow_left_gray.png') no-repeat;
    background-size: 80%;

    &:hover {
      background: asset-url('gallery_arrow_left_blue.png') no-repeat;
      background-size: 80%;
    }
  }

  .services {
    list-style: none;
    position: relative;
    padding: 0;
    display: inline-block;
    width: 8200px;
  }

  .service {
    color: $default-text-color;
    width: 600px;
    height: 380px;
    float: left;
    text-align: center;

    .title {
      margin-top: 10px;
      font-size: 26px;
      color: $highlighted-text-color;
    }

    .details {
      display: block;
      color: $highlighted-text-color;
      text-decoration: none;
      margin-top: 30px;
    }

    .logo {
      height: 110px;
    }
  }
}

.footer-navigation {
  display: none;
}